.musescore-title-field {
  clear: both;
  float: left;
  margin-right: 10px;
}

.musescore-url-field {
  float: left;
}

.musescore-url {
  margin-bottom: 10px;
}

#musescore-admin #edit-submit {
  clear: both;
  float: left;
}
